@page
@model ConsolasExito.App.Presentacion.Pages.CrudControl.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Control</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Control.TipoControl" class="control-label"></label>
                <input asp-for="Control.TipoControl" class="form-control" />
                <span asp-validation-for="Control.TipoControl" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Control.Id" />
            <div class="form-group">
                <label asp-for="Control.FechaCompra" class="control-label"></label>
                <input asp-for="Control.FechaCompra" class="form-control" />
                <span asp-validation-for="Control.FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.FechaVenta" class="control-label"></label>
                <input asp-for="Control.FechaVenta" class="form-control" />
                <span asp-validation-for="Control.FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.PrecioCompra" class="control-label"></label>
                <input asp-for="Control.PrecioCompra" class="form-control" />
                <span asp-validation-for="Control.PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.PrecioVenta" class="control-label"></label>
                <input asp-for="Control.PrecioVenta" class="form-control" />
                <span asp-validation-for="Control.PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Control.TipoProducto" class="control-label"></label>
                <select asp-for="Control.TipoProducto" class="form-control"></select>
                <span asp-validation-for="Control.TipoProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
