@page
@model ConsolasExito.App.Presentacion.Pages.CrudVideoJuego.CreateModel

@{
    ViewData["Title"] = "Agregar videojuego";
}

<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Fuente de letra: Montserrat-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

<link rel="stylesheet" href="~/css/index.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


<body id="crear_videojuego">
    <div class="container">
        <img id="logo" src="~/img/logo.png" class="img-fluid" onclick="location.href='../../Index'">
        <div class="row_propio">
            <div class="col-sm-2 align-self-center">
                <h1>Comprar producto</h1>
            </div>
            <div class="col-sm-2 align-self-center">
                
            </div>
            <div class="col-sm-8 align-self-start">
                <div class="row pb-2 align-self-start">
                    <div class="seccion_crear">
                        <!--<form class="row g-3">-->
                            <h1 style="text-align: center; margin-bottom:3%; margin-top: -2.5%;">Comprar videojuego</h1>
                            <form method="post" class="row g-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group col-md-4">
                                    <label asp-for="VideoJuego.Nombre" class="control-label"></label>
                                    <input asp-for="VideoJuego.Nombre" class="form-control" />
                                    <span asp-validation-for="VideoJuego.Nombre" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="VideoJuego.Version" class="control-label"></label>
                                    <input asp-for="VideoJuego.Version" class="form-control" />
                                    <span asp-validation-for="VideoJuego.Version" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="VideoJuego.Fabricante" class="control-label"></label>
                                    <input asp-for="VideoJuego.Fabricante" class="form-control" />
                                    <span asp-validation-for="VideoJuego.Fabricante" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VideoJuego.FechaCompra" class="control-label"></label>
                                    <input asp-for="VideoJuego.FechaCompra" class="form-control" />
                                    <span asp-validation-for="VideoJuego.FechaCompra" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VideoJuego.FechaVenta" class="control-label"></label>
                                    <input asp-for="VideoJuego.FechaVenta" class="form-control" />
                                    <span asp-validation-for="VideoJuego.FechaVenta" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VideoJuego.PrecioCompra" class="control-label"></label>
                                    <input asp-for="VideoJuego.PrecioCompra" class="form-control" />
                                    <span asp-validation-for="VideoJuego.PrecioCompra" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VideoJuego.PrecioVenta" class="control-label"></label>
                                    <input asp-for="VideoJuego.PrecioVenta" class="form-control" />
                                    <span asp-validation-for="VideoJuego.PrecioVenta" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="VideoJuego.TipoProducto" class="control-label"></label>
                                    <select asp-for="VideoJuego.TipoProducto" class="form-select">
                                        <option selected>--Seleccione un producto--</option>
                                        <option value="2" >VIDEOJUEGO</option>
                                    </select>
                                    <span asp-validation-for="VideoJuego.TipoProducto" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check col-md-6">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="VideoJuego.EsMultiPlataforma" /> @Html.DisplayNameFor(model => model.VideoJuego.EsMultiPlataforma)
                                    </label>
                                </div>
                                <div class="form-group col-md-3 ms-md-auto">
                                    <input type="submit" value="Comprar" class="btn btn-primary" />
                                </div>
                                <div class="form-group col-md-6 ">
                                    <a asp-page="Index">Volver a la lista</a>
                                </div>
                            </form>
                        <!--</form>-->
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
