@page
@model CambiarContrasenaModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Fuente de letra: Montserrat-->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


<link rel="stylesheet" href="~/css/index.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body id=login>
    <img id="logo" src="~/img/logo.png" class="img-fluid" onclick="location.href='../../Index'">
    <div class="seccion_login">
        <form class="pt-3 pb-1 seccion_login_2">   
            <div class="row_propio">
                <h1 style="text-align: center; margin-bottom:3%; margin-top: -2.5%;">Cambio de contraseña</h1>
                <div class="form-group col-md-5"> 
                    <label class="control-label">Contraseña nueva:</label>
                    <input asp-for="ContrasennaNueva" type="password" class="form-control">
                </div>
                <div class="form-group col-md-7">            
                    <label class="control-label">Ingrese de nuevo la Contraseña:</label>
                    <input asp-for="RepitaContrasenna" type="password" class="form-control">
                    <span class="text-danger">@Model.MensajeContrasenna</span> 
                </div>
            </div>
            <div class="form-group">
                 <input type="submit" value="Cambiar contraseña" class="btn btn-outline-info" id="button_cambiarcontrasena"/> 
            </div>
            <div class="alert alert-info mensaje_alerta">
                <strong>Recuerde:</strong><br> Para ingresar por <b><i>primera vez</i></b> al sistema, el administrador del sistema debe haber creado previamente su usuario.<br><br>La contraseña por defecto sera la cedula del empleado, pero la <b><i>primera vez</i></b> que ingrese, se le solicitara automaticamente cambio de la contraseña.
            </div>
        </form>
    </div>
</body>
